<app-categorias-form *ngIf="categoriaSeleccionado" [categoria]="categoriaSeleccionado" [id]="categoriaSeleccionado.codigoCategoria"></app-categorias-form>
<br> 
<div class="card border-primary mb-3">
    <div class="card-header">Categoria</div>
    <div class="card-body text-primary">
        <h5 class="card-tittle">Listado de Categoria</h5>
        <hr>
        <button class="btn btn-primary" type="button" (click)= "abrirModal()">Crear Categoria</button>
        <br>
        <br>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>DESCRIPCION</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of categorias">
                    <td>{{categoria.codigoCategoria}} </td>
                    <td>{{categoria.descripcion}}</td>
                    <td>
                        <button (click)= "abrirModal(categoria)"  type="button" name="editar" class="btn btn-primary btn-sm">Editar</button>
                    </td>
                    <td>
                        <button (click)="delete(categoria)" type="button" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                    

                </tr>
            </tbody>
        </table>
    </div>

</div>
<br>
