<app-tipo-empaque-form [tipoEmpaque]="tipoEmpaqueSeleccionado"></app-tipo-empaque-form>
<br> 
<div class="card border-primary mb-3">
    <div class="card-header">tipoEmpaque</div>
    <div class="card-body text-primary">
        <h5 class="card-tittle">Listado de tipoEmpaque</h5>
        <hr>
        <button class="btn btn-primary" type="button" (click)= "abrirModal()">Crear tipoEmpaque</button>
        <br>
        <br>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>DESCRIPCION</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipoEmpaque of tipoEmpaques">
                    <td>{{tipoEmpaque.codigoEmpaque}} </td>
                    <td>{{tipoEmpaque.descripcion}}</td>
                    <td>
                        <button (click)= "abrirModal(tipoEmpaque)"  type="button" name="editar" class="btn btn-primary btn-sm">Editar</button>
                    </td>
                    <td>
                        <button (click)="delete(tipoEmpaque)" type="button" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                    

                </tr>
            </tbody>
        </table>
    </div>

</div>
<br>
