<br>
<br>
<div class="card border-primary mb-3">
    <div class="card-header">Proveedores</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Proveedores</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['home']">
                Crear proveedores
            </button>
        </div>
        <div *ngIf="proveedores.lenght == 0" class="alert alert-info">
            no hay registros en la base de datos
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>CODIGO PROVEEDOR</th>
                    <th>NIT</th>
                    <th>RAZON SOCIAL</th>
                    <th>DIRECCION</th>
                    <th>PAGINA WEB</th>
                    <th>CONTACTO PRINCIPAL</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proveedor of proveedores">
                    <td>
                        {{proveedor.codigoProveedor}}
                    </td>
                    <td>
                        {{proveedor.nit}}
                    </td>
                    <td>
                        {{proveedor.razonSocial}}
                    </td>
                    <td>
                        {{proveedor.direccion}}
                    </td>
                    <td>
                        {{proveedor.paginaWeb}}
                    </td>
                    <td>
                        {{proveedor.contactoPrincipal}}
                    </td>
                    <td>
                            <button (click)= "abrirModal(Facturas)"  type="button" name="editar" class="btn btn-primary btn-sm">Editar</button>
                        </td>
                        <td>
                            <button (click)="delete(Facturas)" type="button" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>