<br>
<div class="card border-primary mb-3">
    <div class="card-header">Productos</div>
    <div class="card-body text-primary">
        <h5 class="card-tittle">Listado de productos</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>DESCRIPCION</th>
                    <th>PRECIO</th>
                    <th>CATEGORIAS</th>
                    <th>TIPO DE EMPAQUE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>{{producto.codigoProducto}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.precioUnitario}}</td>
                    <td>{{producto.categoria.descripcion}}</td>
                    <td>{{producto.tipoEmpaque.descripcion}}</td>
                    

                </tr>
            </tbody>
        </table>
    </div>

</div>