<br>
<br>
<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['home']">
                Crear cliente
            </button>
        </div>
        <div *ngIf = "clientes.lenght == 0" class="alert alert-info">
            no hay registros en la base de datos 
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nit</th>
                    <th>DPI</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>
                        {{cliente.nit}}
                    </td>
                    <td>
                        {{cliente.dpi}}
                    </td>
                    <td>
                        {{cliente.nombre}}
                    </td>
                    <td>
                        {{cliente.direccion}}
                    </td>
                    <td>
                            <button (click)= "abrirModal(Facturas)"  type="button" name="editar" class="btn btn-primary btn-sm">Editar</button>
                        </td>
                        <td>
                            <button (click)="delete(Facturas)" type="button" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                </tr>
            </tbody>
            
            <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator> 
        </table>
    </div>
</div>
