<app-clientes-form *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado" [id]="clienteSeleccionado.nit"></app-clientes-form>
<br> 
<div class="card border-primary mb-3">
    <div class="card-header">Cliente</div>
    <div class="card-body text-primary">
        <h5 class="card-tittle">Listado de Clientes</h5>
        <hr>
        <button class="btn btn-primary" type="button" (click)= "abrirModal()">Crear Clientes</button>
        <br>
        <br>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nit</th>
                    <th>DPI</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.nit}} </td>
                    <td>{{cliente.dpi}}</td>
                    <td>{{cliente.nombre}} </td>
                    <td>{{cliente.direccion}}</td>
                    <td>
                        <button (click)= "abrirModal(clientes)"  type="button" name="editar" class="btn btn-primary btn-sm">Editar</button>
                    </td>
                    <td>
                        <button (click)="delete(clientes)" type="button" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                    

                </tr>
            </tbody>
        </table>
       <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator> 
    </div>

</div>
<br>
