
    <div class="abrir-Modal" *ngIf="modalClienteService.modal">
    <div class="modal" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}}</h5>
                    <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                            <div class="card bg-dark text-white">
                                    <div class="card-header" style="background: #1b4f72">
                                        {{titulo}}
                                    </div>
                        <div class="card-body text-primary" style="background: rgb(167, 166, 165)">
                            <form #clienteForm="ngForm">
                                <div class="form-group row">
                                    <label for="nit" class="col-form-label col-sm-2">Nit</label>
                                    <div class="col-sm-6" *ngIf="cliente">
                                        <input type="text" class="form-control" [(ngModel)]="cliente.nit"
                                            name="nit" #nit="ngModel"
                                            placeholder="Ingrese el nit del cliente">
                                    </div>
                                </div>  <div class="form-group row">
                                    <label for="dpi" class="col-form-label col-sm-2">DPI</label>
                                    <div class="col-sm-6" *ngIf="cliente">
                                        <input type="text" class="form-control" [(ngModel)]="cliente.dpi"
                                            name="dpi" #dpi="ngModel"
                                            placeholder="Ingrese el dpi del cliente">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                                    <div class="col-sm-6" *ngIf="cliente">
                                        <input type="text" class="form-control" [(ngModel)]="cliente.nombre"
                                            name="nombre" #nombre="ngModel"
                                            placeholder="Ingrese el nombre cliente">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="direccion" class="col-form-label col-sm-2">Direccion</label>
                                    <div class="col-sm-6" *ngIf="cliente">
                                        <input type="text" class="form-control" [(ngModel)]="cliente.direccion"
                                            name="direccion" #direccion="ngModel"
                                            placeholder="Ingrese la direccion del cliente">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-form-label col-sm-8">
                                        <button  *ngIf="!cliente.nit" class="btn btn-primary" role="button" (click)="create()">Crear</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button *ngIf="cliente.nit" class="btn btn-primary" role="button" (click)="update()">Actualizar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


